<!DOCTYPE html>
<html>
  <head>
    <title>SPABOOKING</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Wealcom to home page.</h1>
    <!-- <a href=""></a> -->
  </body>
</html>
